<!DOCTYPE html>
<html>
  <head>
    <title>Brain Teaser Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <style type="text/css">
      .container {
        padding: 50px 0;
      }
    </style>
  </head>
  <body>
    <div style="font-size:25px" class="container">
      <p>{{number}}.</p>
      <p>{{question}}</p>
    </div>
    <details>
      <summary style="font-size:22px">Answer</summary>
      <p style="font-size:20px">{{answer}}</p>
    </details>
  </body>
</html>
